<!doctype html>
<html lang="en">

<head>
    <title>Advertiser - adsXenium</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark shadow">
        <a class="navbar-brand" href="/">adsXenium</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link btn btn-dark active" href="/advertiser/1">Advertiser</a>
                <a class="nav-item nav-link btn btn-dark" href="/campaign">Campaign</a>
                <a class="nav-item nav-link btn btn-outline-danger" href="/logout">Logout</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-1">
                <form action="/advertiser/addData" method="POST" class="form-inline">
                    <div class="form-group row mx-auto py-2">
                        <div class="col">
                            <label for="adName"></label>
                            <input type="text" name="adName" id="adName" class="form-control"
                                placeholder="Advertiser Name">
                        </div>
                        <div class="col">
                            <label for="adContact"></label>
                            <input type="tel" name="adContact" id="adContact" class="form-control"
                                placeholder="Advertiser Contact">
                        </div>
                        <div class="col">
                            <label for="adEmail"></label>
                            <input type="email" name="adEmail" id="adEmail" class="form-control"
                                placeholder="Advertiser Email">
                        </div>
                        <div class="col">
                            <label for="adCompany"></label>
                            <input type="text" name="adCompany" id="adCompany" class="form-control"
                                placeholder="Advertiser Company">
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-dark">ADD</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row py-2 table-responsive-lg">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Advertiser</th>
                        <th scope="col">Email</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Company</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < advertiser.length; i++) { %>
                    <tr>
                        <td><%= advertiser[i].adName %></td>
                        <td><%= advertiser[i].adEmail %></td>
                        <td><%= advertiser[i].adContact %></td>
                        <td><%= advertiser[i].adCompany %></td>
                        <td><a class="btn btn-dark" href="/addCampaign/<%= advertiser[i]._id %>/1?adName=<%= advertiser[i].adName %>">Add Campaign</a></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class=" row py-2">
            <% if (pages > 0) { %>
            <ul class="pagination mx-auto">
                <% if (current == 1) { %>
                <li class="disabled page-item"><a class="page-link">First</a></li>
                <% } else { %>
                <li class="page-item"><a class="page-link" href="/advertiser/1">First</a></li>
                <% } %>
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                <li class="disabled page-item"><a class="page-link">...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                <li class="active page-item"><a class="page-link"><%= i %></a></li>
                <% } else { %>
                <li><a class="page-link" href="/advertiser/<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                <li class="disabled page-item"><a class="page-link">...</a></li>
                <% } %>
                <% } %>
                <% if (current == pages) { %>
                <li class="disabled page-item"><a class="page-link">Last</a></li>
                <% } else { %>
                <li class="page-item"><a class="page-link" href="/advertiser/<%= pages %>">Last</a class="page-link">
                </li>
                <% } %>
            </ul>
            <% } %>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
</body>

</html>